<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Появились новые КП для проверки и готовые к печати. <%= link_to "Все КП", @app_url+"/kps", target: "_blank" %></p>
    <p>___</p>
    <p>С уважением, служба поддержки </p>
    <p><a href="#"><strong>.....</strong></a></p>
  </body>
</html>
