<h3>Welcome</h3>
<p>This is our app</p>
<% if !user_signed_in? %>
<ul class="form-sign-help">
<%= render "layouts/nav_links_for_auth" %>
</ul>
<% end %>
<% if user_signed_in? && current_user.role.name == 'registered' %>
<h3>Спасибо за регистрацию. Остался ещё совсем маленький момент!</h3>
<p>
Ожидайте письма от администратора
</p>
<% end %>
