// .print3 {
//   color: brown;
// }
// #header {
//   margin: 20px 0px;
// }
// #status {
//  position: absolute;
//  background: #fc0;
//  bottom: 0; right: 0;
//  padding: 10px; margin: 0;
//  display: none;
//  animation: _transparent 3s;
//  -webkit-animation: _transparent 3s;
//  -moz-animation: _transparent 3s;
// }
// #pdf_console_output {
//    display: none;
// }
/* pdf style*/
div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak { page-break-inside: avoid; }
/* end pdf style*/
body {
  font-size: 14px;
  color: #000;
  background-color: #fff;
  font-family: "Times New Roman", Times, serif;
  margin: 30px;
  font-style: italic;
}

.wrapper {
  width: 750px;
  page-break-after: always;
    margin: 0 auto;
}

.wrapper:last-child {
  page-break-after: auto;
}

.logo {
  float: right;
}

h1 {
  font-weight: bold;
  font-size: 16px;
  margin: 30px 0 20px;
}
.kp-title h1 {
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 22px;
    font-weight: bold;
}
.generalInfo {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
}

.itemsInfo {
  border-collapse: collapse;
  width: 100%;
  font-style: italic;
  font-size: 14px;
}

.itemsInfo th {
  text-align: center;
  font-weight: bold;
}

.itemsInfo td,
.itemsInfo th {
  border: solid 1px #000;
  padding: 3px;
}

.center {
  text-align: center;
}

.signs {
  margin-top: 50px;
}

.signs td {
  width: 350px;
  vertical-align: top;
  line-height: 200%;
}

.summary {
  width: 100%;
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
  font-style: italic;
  font-size: 14px;
}
