.body {
  font-size: 8px;
  color: #000;
  font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
  font-weight: bold;
  margin: 30px;
  width: 750px;
}

.footer,
.navbar {
  display: none;
}

.clear {
  clear: both;
  margin: 2px 0;
  height: 5px;
}

.border {
  border-bottom: 1px solid black;
  padding-bottom: 0;
}

.accent {
  font-size: 13px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.borders_table {
  width: 100%;
  border-collapse: collapse;
}

.borders_table,
.borders_table td,
.products_table th {
  border: 1px solid #999;
}

.page_break {
  display: block;
  clear: both;
  page-break-after: always;
}

h2 {
  font-size: 15px;
}
