<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">sku</Data></Cell>
        <Cell><Data ss:Type="String">title</Data></Cell>
        <Cell><Data ss:Type="String">quantity</Data></Cell>
        <Cell><Data ss:Type="String">price</Data></Cell>
      </Row>
      <%if @kp.kp_products.present?%>
	      <% @kp.kp_products.each do |ic| %>
		      <Row>
		        <Cell><Data ss:Type="String"><%= ic.product.sku %></Data></Cell>
		        <Cell><Data ss:Type="String"><%= ic.product.title %></Data></Cell>
		        <Cell><Data ss:Type="String"><%= ic.quantity %></Data></Cell>
		        <Cell><Data ss:Type="String"><%= ic.price %></Data></Cell>
		      </Row>
	      <% end %>
			<% end %>
    </Table>
  </Worksheet>
</Workbook>
