<html>
  <head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<%= wicked_pdf_stylesheet_link_tag("print1") %>
<%= wicked_pdf_javascript_include_tag("number_pages") %>
  </head>
  <body onload="number_pages()">
	  <div style="font-size: 12px;margin-bottom: 0px!important;">
    <span style="margin-left: 50px!important;margin-right: 150px!important;">__________________(подпись)</span><span style="margin-right: 60px;">__________________(подпись)</span>Стр. <span class="page"></span> из <span class="topage"></span>
	  </div>
  </body>
</html>
