<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= wicked_pdf_stylesheet_link_tag("print3") %>
    <%= wicked_pdf_javascript_include_tag("number_pages") %>
  </head>
  <body onload="number_pages()">
<!-- <center>Invoice was created on a computer and is valid without the signature and seal.<span class="footerContent">test</span></center>-->
<center>
  <span style="margin-right: 60px;"><%= @our_company.title%> ______________</span><span style="margin-right: 60px;">Дата <%= Time.now.strftime("%d-%m-%Y" )%></span><!--Стр. <span class="page"></span> из <span class="topage"></span>-->
</center>
  </body>
</html>
